jaxb/phoenix-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:simpleType name="phoenixDuration">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixUuid">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixRelationType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixTimeUnits">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixResourceType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixDay">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:simpleType name="phoenixFinish">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<!-- XML Schema Generated from XML Document on Tue Nov 24 2015 23:58:28 
		GMT+0000 (GMT) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="settings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="export">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sdef">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code_mapping"></xs:element>
												</xs:sequence>
												<xs:attribute name="project_name" type="xs:string"></xs:attribute>
												<xs:attribute name="project_identifier" type="xs:string"></xs:attribute>
												<xs:attribute name="contract_number" type="xs:string"></xs:attribute>
												<xs:attribute name="contractor_name" type="xs:string"></xs:attribute>
												<xs:attribute name="yearless_holidays" type="xs:string"></xs:attribute>
												<xs:attribute name="alphanumeric_calendar_codes"
													type="xs:string"></xs:attribute>
												<xs:attribute name="alphanumeric_activity_ids"
													type="xs:string"></xs:attribute>
												<xs:attribute name="negative_lag" type="xs:string"></xs:attribute>
												<xs:attribute name="extended_constraint_types"
													type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="title" type="xs:string"></xs:attribute>
						<xs:attribute name="description" type="xs:string"></xs:attribute>
						<xs:attribute name="baseunit" type="phoenixTimeUnits"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="storepoints">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="storepoint"  maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="calendars">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="calendar" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="non_work" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="type" type="xs:string"></xs:attribute>
																		<xs:attribute name="weekday" type="phoenixDay"></xs:attribute>
																		<xs:attribute name="count" type="xs:int"></xs:attribute>
																		<xs:attribute name="interval" type="xs:int"></xs:attribute>
																		<xs:attribute name="start" type="xs:dateTime"></xs:attribute>
																		<xs:attribute name="until" type="xs:dateTime"></xs:attribute>
																		<xs:attribute name="nth_dow" type="xs:int"></xs:attribute>
																		<xs:attribute name="snaps_to_eom" type="xs:boolean"></xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="activity_codes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string"></xs:attribute>
																		<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string"></xs:attribute>
															<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="none_uuid" type="phoenixUuid"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="user_defined"></xs:element>
										<xs:element name="activities">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="activity" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="constraint">
																	<xs:complexType>
																		<xs:attribute name="type" type="xs:string"></xs:attribute>
																		<xs:attribute name="datetime" type="xs:dateTime"></xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="code_assignment" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="code" type="xs:string"></xs:attribute>
																		<xs:attribute name="code_uuid" type="phoenixUuid"></xs:attribute>
																		<xs:attribute name="value" type="xs:string"></xs:attribute>
																		<xs:attribute name="value_uuid" type="phoenixUuid"></xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="user_defined"></xs:element>
															</xs:sequence>
															<xs:attribute name="id" type="xs:string"></xs:attribute>
															<xs:attribute name="type" type="xs:string"></xs:attribute>
															<xs:attribute name="description" type="xs:string"></xs:attribute>
															<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="creation_time" type="xs:dateTime"></xs:attribute>
															<xs:attribute name="total_cost" type="xs:double"></xs:attribute>
															<xs:attribute name="billed" type="xs:double"></xs:attribute>
															<xs:attribute name="explicit" type="xs:boolean"></xs:attribute>															
															<xs:attribute name="current_start" type="xs:dateTime"></xs:attribute>
															<xs:attribute name="current_finish" type="phoenixFinish"></xs:attribute>
															<xs:attribute name="actual_start" type="xs:dateTime"></xs:attribute>
															<xs:attribute name="actual_finish" type="phoenixFinish"></xs:attribute>
															<xs:attribute name="early_start" type="xs:dateTime"></xs:attribute>
															<xs:attribute name="early_finish" type="phoenixFinish"></xs:attribute>
															<xs:attribute name="late_start" type="xs:dateTime"></xs:attribute>
															<xs:attribute name="late_finish" type="phoenixFinish"></xs:attribute>
															<xs:attribute name="original_duration" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="actual_duration" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="duration_at_completion" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="remaining_duration" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="physical_percent_complete" type="xs:int"></xs:attribute>
															<xs:attribute name="calendar" type="xs:string"></xs:attribute>
															<xs:attribute name="cost_account" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="notes" type="xs:string"></xs:attribute>
															<xs:attribute name="free_float" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="total_float" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="path_float" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="baseunit" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="resources">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="resource" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="assignment" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="activity" type="xs:string"></xs:attribute>
																		<xs:attribute name="fixedfield" type="xs:string"></xs:attribute>
																		<xs:attribute name="allocation" type="xs:int"></xs:attribute>
																		<xs:attribute name="accrueat" type="xs:string"></xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string"></xs:attribute>
															<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="type" type="phoenixResourceType"></xs:attribute>
															<xs:attribute name="unitslabel" type="xs:string"></xs:attribute>
															<xs:attribute name="maximum" type="xs:int"></xs:attribute>
															<xs:attribute name="monetarybase" type="phoenixTimeUnits"></xs:attribute>
															<xs:attribute name="unitsperbase" type="xs:int"></xs:attribute>
															<xs:attribute name="monetaryrate" type="xs:int"></xs:attribute>
															<xs:attribute name="monetarycostperuse"
																type="xs:int"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="relationships">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="relationship" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="predecessor" type="xs:string"></xs:attribute>
															<xs:attribute name="successor" type="xs:string"></xs:attribute>
															<xs:attribute name="lag" type="phoenixDuration"></xs:attribute>
															<xs:attribute name="type" type="phoenixRelationType"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- <xs:element name="cost_accounts"> <xs:complexType> <xs:sequence> 
											<xs:element name="cost_account"> <xs:complexType> <xs:sequence> <xs:element 
											name="cost_account" maxOccurs="unbounded"> <xs:complexType> <xs:sequence> 
											<xs:element name="cost_account" maxOccurs="unbounded"> <xs:complexType> <xs:attribute 
											name="uuid" type="xs:string"></xs:attribute> <xs:attribute name="description" 
											type="xs:string"></xs:attribute> </xs:complexType> </xs:element> </xs:sequence> 
											<xs:attribute name="uuid" type="xs:string"></xs:attribute> <xs:attribute 
											name="description" type="xs:string"></xs:attribute> </xs:complexType> </xs:element> 
											</xs:sequence> <xs:attribute name="uuid" type="xs:string"></xs:attribute> 
											<xs:attribute name="description" type="xs:string"></xs:attribute> </xs:complexType> 
											</xs:element> </xs:sequence> </xs:complexType> </xs:element> <xs:element 
											name="cpm_checker_explanations"></xs:element> -->
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"></xs:attribute>
									<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
									<xs:attribute name="parent_uuid" type="phoenixUuid"></xs:attribute>
									<xs:attribute name="creation_time" type="xs:dateTime"></xs:attribute>
									<xs:attribute name="start" type="xs:dateTime"></xs:attribute>
									<xs:attribute name="data_date" type="xs:dateTime"></xs:attribute>
									<xs:attribute name="proposed_data_date" type="xs:dateTime"></xs:attribute>
									<xs:attribute name="default_calendar" type="xs:string"></xs:attribute>
									<xs:attribute name="id_increment" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="layouts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="layout"  maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="resource_graph_layout">
											<xs:complexType>
												<xs:attribute name="show_allocation_bars" type="xs:string"></xs:attribute>
												<xs:attribute name="allocation_bars_color"
													type="xs:string"></xs:attribute>
												<xs:attribute name="show_allocation_bars_over"
													type="xs:string"></xs:attribute>
												<xs:attribute name="allocation_bars_over" type="xs:string"></xs:attribute>
												<xs:attribute name="show_maximum_allocation"
													type="xs:string"></xs:attribute>
												<xs:attribute name="maximum_allocation_color"
													type="xs:string"></xs:attribute>
												<xs:attribute name="allocation_base_auto" type="xs:string"></xs:attribute>
												<xs:attribute name="allocation_base" type="xs:string"></xs:attribute>
												<xs:attribute name="show_accumulation_curve"
													type="xs:string"></xs:attribute>
												<xs:attribute name="accumulation_curve_color"
													type="xs:string"></xs:attribute>
												<xs:attribute name="accumulation_base_auto"
													type="xs:string"></xs:attribute>
												<xs:attribute name="accumulation_base" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="sort">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="sort_column">
														<xs:complexType>
															<xs:attribute name="data" type="xs:string"></xs:attribute>
															<xs:attribute name="ascending" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="sightlines">
											<xs:complexType>
												<xs:attribute name="project_start" type="xs:string"></xs:attribute>
												<xs:attribute name="project_start_color" type="xs:string"></xs:attribute>
												<xs:attribute name="project_start_line_type"
													type="xs:string"></xs:attribute>
												<xs:attribute name="project_finish" type="xs:string"></xs:attribute>
												<xs:attribute name="project_finish_color" type="xs:string"></xs:attribute>
												<xs:attribute name="project_finish_line_type"
													type="xs:string"></xs:attribute>
												<xs:attribute name="data_date" type="xs:string"></xs:attribute>
												<xs:attribute name="data_date_color" type="xs:string"></xs:attribute>
												<xs:attribute name="data_date_line_type" type="xs:string"></xs:attribute>
												<xs:attribute name="today" type="xs:string"></xs:attribute>
												<xs:attribute name="today_color" type="xs:string"></xs:attribute>
												<xs:attribute name="today_line_type" type="xs:string"></xs:attribute>
												<xs:attribute name="major" type="xs:string"></xs:attribute>
												<xs:attribute name="major_spread" type="xs:int"></xs:attribute>
												<xs:attribute name="major_line_type" type="xs:string"></xs:attribute>
												<xs:attribute name="major_unit" type="xs:string"></xs:attribute>
												<xs:attribute name="major_color" type="xs:string"></xs:attribute>
												<xs:attribute name="minor" type="xs:string"></xs:attribute>
												<xs:attribute name="minor_spread" type="xs:int"></xs:attribute>
												<xs:attribute name="minor_line_type" type="xs:string"></xs:attribute>
												<xs:attribute name="minor_unit" type="xs:string"></xs:attribute>
												<xs:attribute name="minor_color" type="xs:string"></xs:attribute>
												<xs:attribute name="nonwork_visibility" type="xs:string"></xs:attribute>
												<xs:attribute name="nonwork_background" type="xs:string"></xs:attribute>
												<xs:attribute name="nonwork_border" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="columns">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="column" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="label" type="xs:string"></xs:attribute>
															<xs:attribute name="width" type="xs:int"></xs:attribute>
															<xs:attribute name="data" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="background_color" type="xs:string"></xs:attribute>
												<xs:attribute name="font_color" type="xs:string"></xs:attribute>
												<xs:attribute name="font" type="xs:string"></xs:attribute>
												<xs:attribute name="vertical_align" type="xs:string"></xs:attribute>
												<xs:attribute name="horizontal_align" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="applied_filters">
											<xs:complexType>
												<xs:attribute name="settings" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="date_format">
											<xs:complexType>
												<xs:attribute name="order" type="xs:string"></xs:attribute>
												<xs:attribute name="military" type="xs:string"></xs:attribute>
												<xs:attribute name="date_separator" type="xs:string"></xs:attribute>
												<xs:attribute name="time_separator" type="xs:string"></xs:attribute>
												<xs:attribute name="full_year" type="xs:string"></xs:attribute>
												<xs:attribute name="month_format" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="page_layout">
											<xs:complexType>
												<xs:sequence>
													<!-- <xs:element name="logo" type="xs:string"> <xs:complexType> 
														<xs:attribute name="id" type="xs:int"></xs:attribute> <xs:attribute name="original_path" 
														type="xs:string"></xs:attribute> <xs:attribute name="content-length" type="xs:int"></xs:attribute> 
														</xs:complexType> </xs:element> -->
												</xs:sequence>
												<xs:attribute name="range_start" type="xs:string"></xs:attribute>
												<xs:attribute name="range_finish" type="xs:string"></xs:attribute>
												<xs:attribute name="custom_finish_date" type="xs:string"></xs:attribute>
												<xs:attribute name="fit_pages" type="xs:int"></xs:attribute>
												<xs:attribute name="user_scale" type="xs:int"></xs:attribute>
												<xs:attribute name="buffer" type="xs:int"></xs:attribute>
												<xs:attribute name="cpm_cover_sheet" type="xs:string"></xs:attribute>
												<xs:attribute name="footer_location" type="xs:string"></xs:attribute>
												<xs:attribute name="footer_pages" type="xs:string"></xs:attribute>
												<xs:attribute name="description" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="comparisons">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="comparison">
														<xs:complexType>
															<xs:attribute name="uuid" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="color" type="xs:string"></xs:attribute>
															<xs:attribute name="active" type="xs:boolean"></xs:attribute>
															<xs:attribute name="list_name" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="timescale">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tier" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="level" type="xs:int"></xs:attribute>
															<xs:attribute name="unit" type="xs:string"></xs:attribute>
															<xs:attribute name="show" type="xs:string"></xs:attribute>
															<xs:attribute name="background_color" type="xs:string"></xs:attribute>
															<xs:attribute name="font" type="xs:string"></xs:attribute>
															<xs:attribute name="font_color" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="currency">
											<xs:complexType>
												<xs:attribute name="symbol" type="xs:string"></xs:attribute>
												<xs:attribute name="position" type="xs:int"></xs:attribute>
												<xs:attribute name="digits" type="xs:int"></xs:attribute>
												<xs:attribute name="thousands" type="xs:string"></xs:attribute>
												<xs:attribute name="decimal" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="loose_images"></xs:element>
										<xs:element name="bars">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="bar_group" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="bar">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string"></xs:attribute>
																		<xs:attribute name="type" type="xs:string"></xs:attribute>
																		<xs:attribute name="non_works" type="xs:string"></xs:attribute>
																		<xs:attribute name="height" type="xs:int"></xs:attribute>
																		<xs:attribute name="outline_style" type="xs:string"></xs:attribute>
																		<xs:attribute name="outline_color" type="xs:string"></xs:attribute>
																		<xs:attribute name="outline_width" type="xs:int"></xs:attribute>
																		<xs:attribute name="body_style" type="xs:string"></xs:attribute>
																		<xs:attribute name="body_color" type="xs:string"></xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="text">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string"></xs:attribute>
																		<xs:attribute name="type" type="xs:string"></xs:attribute>
																		<xs:attribute name="color" type="xs:string"></xs:attribute>
																		<xs:attribute name="font" type="xs:string"></xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string"></xs:attribute>
															<xs:attribute name="description" type="xs:string"></xs:attribute>
															<xs:attribute name="comparison" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="code_options">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code_option" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="shown" type="xs:boolean"></xs:attribute>
															<xs:attribute name="color" type="xs:string"></xs:attribute>
															<xs:attribute name="code" type="xs:string"></xs:attribute>
															<xs:attribute name="code_uuid" type="phoenixUuid"></xs:attribute>
															<xs:attribute name="font_color" type="xs:string"></xs:attribute>
															<xs:attribute name="font" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="network_labels_visible"
													type="xs:string"></xs:attribute>
												<xs:attribute name="network_outlines_visible"
													type="xs:string"></xs:attribute>
												<xs:attribute name="network_backgrounds_visible"
													type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="network_lines">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="network_activity">
														<xs:complexType>
															<xs:attribute name="id" type="xs:string"></xs:attribute>
															<xs:attribute name="line" type="xs:int"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="network_start_node_dates"></xs:element>
										<xs:element name="network_finish_node_dates"></xs:element>
										<xs:element name="rolledup_states">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rolledup">
														<xs:complexType>
															<xs:attribute name="code" type="xs:string"></xs:attribute>
															<xs:attribute name="value" type="xs:string"></xs:attribute>
															<xs:attribute name="rolledup" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="view_settings">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="scroll_position">
														<xs:complexType>
															<xs:attribute name="network_horizontal"
																type="xs:int"></xs:attribute>
															<xs:attribute name="network_vertical" type="xs:int"></xs:attribute>
															<xs:attribute name="barchart_horizontal"
																type="xs:int"></xs:attribute>
															<xs:attribute name="barchart_vertical" type="xs:int"></xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="device_per_base">
														<xs:complexType>
															<xs:attribute name="network" type="xs:double"></xs:attribute>
															<xs:attribute name="barchart" type="xs:double"></xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="zoom">
														<xs:complexType>
															<xs:attribute name="network" type="xs:int"></xs:attribute>
															<xs:attribute name="barchart" type="xs:int"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"></xs:attribute>
									<xs:attribute name="active" type="xs:boolean"></xs:attribute>
									<xs:attribute name="status_on_master" type="xs:boolean"></xs:attribute>
									<xs:attribute name="ignore_actuals" type="xs:boolean"></xs:attribute>
									<xs:attribute name="ignore_data_date" type="xs:boolean"></xs:attribute>
									<xs:attribute name="status_on_current" type="xs:boolean"></xs:attribute>
									<xs:attribute name="retained_logic" type="xs:boolean"></xs:attribute>
									<xs:attribute name="progress_override" type="xs:boolean"></xs:attribute>
									<xs:attribute name="contiguous" type="xs:boolean"></xs:attribute>
									<xs:attribute name="interruptible" type="xs:boolean"></xs:attribute>
									<xs:attribute name="work_remaining" type="xs:boolean"></xs:attribute>
									<xs:attribute name="auto_row_sizing" type="xs:boolean"></xs:attribute>
									<xs:attribute name="custom_row_size" type="xs:int"></xs:attribute>
									<xs:attribute name="row_font" type="xs:string"></xs:attribute>
									<xs:attribute name="row_foreground" type="xs:string"></xs:attribute>
									<xs:attribute name="row_background" type="xs:string"></xs:attribute>
									<xs:attribute name="row_grid_lines_color" type="xs:string"></xs:attribute>
									<xs:attribute name="show_relationships" type="xs:boolean"></xs:attribute>
									<xs:attribute name="show_nondriving_relationships" type="xs:boolean"></xs:attribute>
									<xs:attribute name="show_retained_logic_relationships" type="xs:boolean"></xs:attribute>
									<xs:attribute name="layout_style" type="xs:string"></xs:attribute>
									<xs:attribute name="resource_graph_shown" type="xs:string"></xs:attribute>
									<xs:attribute name="track_newest" type="xs:boolean"></xs:attribute>
									<xs:attribute name="criticality_method" type="xs:string"></xs:attribute>
									<xs:attribute name="critical_color" type="xs:string"></xs:attribute>
									<xs:attribute name="critical_tasks" type="xs:boolean"></xs:attribute>
									<xs:attribute name="critical_endpoints" type="xs:boolean"></xs:attribute>
									<xs:attribute name="critical_milestones" type="xs:boolean"></xs:attribute>
									<xs:attribute name="critical_relationships" type="xs:boolean"></xs:attribute>
									<xs:attribute name="critical_threshold" type="xs:int"></xs:attribute>
									<xs:attribute name="network_description_font" type="xs:string"></xs:attribute>
									<xs:attribute name="network_nodes_visible" type="xs:boolean"></xs:attribute>
									<xs:attribute name="network_node_font" type="xs:string"></xs:attribute>
									<xs:attribute name="network_completed_duration_color" type="xs:string"></xs:attribute>
									<xs:attribute name="network_noncritical_duration_color" type="xs:string"></xs:attribute>
									<xs:attribute name="network_line_height" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="filters">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="filter" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="criteria">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string"></xs:attribute>
												<xs:attribute name="equality" type="xs:string"></xs:attribute>
												<xs:attribute name="field" type="xs:string"></xs:attribute>
												<xs:attribute name="value1" type="xs:string"></xs:attribute>
												<xs:attribute name="value2" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"></xs:attribute>
									<xs:attribute name="matches_all" type="xs:string"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="cpm_checker">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="parameters">
								<xs:complexType>
									<xs:attribute name="open_starts" type="xs:int"></xs:attribute>
									<xs:attribute name="open_finishes" type="xs:int"></xs:attribute>
									<xs:attribute name="excess_duration" type="xs:int"></xs:attribute>
									<xs:attribute name="excess_lag" type="xs:int"></xs:attribute>
									<xs:attribute name="excess_free_float" type="xs:int"></xs:attribute>
									<xs:attribute name="excess_total_float" type="xs:int"></xs:attribute>
									<xs:attribute name="constraints" type="xs:int"></xs:attribute>
									<xs:attribute name="minimum_percent_critical"
										type="xs:int"></xs:attribute>
									<xs:attribute name="maximum_percent_critical"
										type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:double"></xs:attribute>
			<xs:attribute name="update_mode" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>